<div class="sidebar" data-color="white" data-active-color="danger">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a href="/" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="/img/logo-small.png">
        </div>
      </a>
      <a href="/" class="simple-text logo-normal">
        Retail System
        <!-- <div class="logo-image-big">
          <img src="/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
      
        <li <% if (active === 'dashboard') { %> class="active" <% } %> >
          <a href="/">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
       
        <li <% if (active === 'icons') { %> class="active" <% } %> >
          <a href="/icons">
            <i class="nc-icon nc-diamond"></i>
            <p>Icons</p>
          </a>
        </li>
        <li <% if (active === 'map') { %> class="active" <% } %> >
          <a href="/map">
            <i class="nc-icon nc-pin-3"></i>
            <p>Maps</p>
          </a>
        </li>
        <li <% if (active === 'notifications') { %> class="active" <% } %> >
          <a href="/notifications">
            <i class="nc-icon nc-bell-55"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li <% if (active === 'user') { %> class="active" <% } %> >
          <a href="/user">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li <% if (active === 'tables') { %> class="active" <% } %> >
          <a href="/tables">
            <i class="nc-icon nc-tile-56"></i>
            <p>Table List</p>
          </a>
        </li>
        <li <% if (active === 'typography') { %> class="active" <% } %> >
          <a href="/typography">
            <i class="nc-icon nc-caps-small"></i>
            <p>Typography</p>
          </a>
        </li>
        <li <% if (active === 'upgrade') { %> class="active-pro" <% } %> >
          <a href="/upgrade">
            <i class="nc-icon nc-spaceship"></i>
            <p>Upgrade to PRO</p>
          </a>
        </li>
      </ul>
    </div>
  </div>